/* Custom CUSD CSS */

body{
    margin:0px; 
}
.header {
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    margin:0px auto;
}

.header h2 {
    float:left;
    margin-left: 5%;
}

.header h3 {
    float:right;
    margin-right: 5%;
}

.footer {
    position:absolute;
    height:50px;
    background:#F0F0F0;
    border:1px solid #CCC;
    width:100%;
    bottom: 0;
}