@mixin callout-panel {
  background: $white;
  border-radius: $global-radius;
  box-shadow: $subtle-shadow;
  padding: rem-calc(24 24 64);
  position: relative;

  > h4 {
    text-align: center;
    margin-top: rem-calc(20 0 0);
  }

  > p {
    text-align: center;
    margin-bottom: rem-calc(24);
    color: $header-font-color;
  }

  > .button {
    display: block;
    width: grid-calc(2,4);
    margin: auto;
    position: absolute;
    bottom: rem-calc(24);
    left: 50%;
    transform: translateX(-50%);
  }
}

.email-list-callout {
  padding-top: rem-calc(72);
  @include grid-row();

  > h3 {
    @include grid-column($columns: 12);

    &:not(:last-child) {
      margin-bottom: rem-calc(32);
    }
  }

  > article {
    @include grid-column($columns: 12);
  }

  &__panel {
    @include callout-panel();
    padding: 0;
    @include clearfix();
  }

  &__image {
    background: image-url('project-photos/seg-banner.jpg') no-repeat center left scroll;
    background-size: cover;
    position: absolute;
    width: 100%;
    min-height: rem-calc(150);
    @include side-radius(top, $global-radius);

    @media #{$medium-up} {
      width: 33%;
      height: 100%;
      min-height: rem-calc(300);
      @include side-radius(right, 0);
      @include side-radius(left, $global-radius);
    }
  }

  &__content {
    padding: rem-calc(24);
    padding-top: rem-calc(174);
    
    @media #{$medium-up} {
      padding-top: rem-calc(24);
      width: 66%;
      float: right;
    }

    h3 {
      margin-bottom: rem-calc(12);
    }
  }

  &__form {
    padding-top: rem-calc(24);

    @media #{$medium-up} {
      padding-top: rem-calc(44);
    }

    &__wrapper {
      @include form-row-base();
    }

    &__inputs {
      @include grid-column($columns: 12, $collapse: true);

      @media #{$medium-up} {
        @include grid-column($columns: 9, $collapse: true);
      }

      label {
        @include form-label();
      }

      input {
        @include form-element();
        border-radius: $button-radius;
        margin-top: rem-calc(4);

        @media #{$medium-up} {
          @include side-radius(right, 0);
        }
      }
    }

    &__submit {
      @include grid-column($columns: 12, $collapse: true);

      @media #{$medium-up} {
        @include grid-column($columns: 3, $collapse: true);
      }

      input {
        height: ($input-font-size + ($form-spacing * 1.5) - rem-calc(1)); 
        @include postfix(false, false, true);
        @include radius(0); 
        border-radius: $button-radius;

        @media #{$medium-up} {
          @include side-radius(left, 0);
          margin-top: rem-calc(28);
        }
      }
    }
  }
}