.connect {

	.sidebar-box {
		@include sidebar-box($columns: 3, $side: left);
	}

	.sidebar-label {
		@include grid-column($columns: 2);
		padding-top: rem-calc(72-17);
	}

	.contacts {
		@include grid-column($columns: 8, $offset: 2);
		margin: rem-calc(24 0 72);
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start;
	}

	.contact {
		margin-top: rem-calc(48px);
		width: 50%;

		&__photo {
			width: 25%;
			float: left;
		}

		&__info {
			float: left;
			margin-left: rem-calc(12px);
			
			&__name {
				margin: rem-calc(-8 0 0);
			}

			&__title, &__team{
				display: block;
			}

			&__links a {
				display: inline-block;
				position: relative;
				font-size: rem-calc(14);
				text-decoration: underline;

				&:before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					height: rem-calc(21);
				}

				&.email {
					margin: rem-calc(0 10 0 2+21+6);

					&:before {
						left: rem-calc(-21-6);
						width: rem-calc(21);
						background: image-url("icons/email.png") center center / rem-calc(21) rem-calc(14) no-repeat;
					}
				}

				&.twitter {
					margin: rem-calc(0 10 0 2+17+4);

					&:before {
						left: rem-calc(-17-4);
						width: rem-calc(17);
						background: image-url("icons/twitter.png") center center / rem-calc(17) rem-calc(14) no-repeat;
					}
				}
			}
		}
	}

	.page-contents {
		margin: 0 auto;
		max-width: 64rem;
		width: 100%;
		overflow: auto;
		padding-bottom: rem-calc(30); 
	} 

	.project-button {
		max-width: rem-calc(150);
	}
}
