.pattern-banner { 
  min-height: rem-calc(550);
  // height: calc(100vh - 60px);
  width: 100%;
  background: image-url("pattern1-opacity.png"), $secondary-color;//linear-gradient( 0deg, rgba($secondary-color, 1) 0%, rgba($body-background, 1) 130% );

  &__wrapper {
    @include grid-row();
    padding-top: rem-calc(200);
  }

  &__text {
    @include grid-column($columns: 12);
    
    h1, h2 {
      color: $body-background;
      text-shadow: $subtle-shadow;
    }

    h1 {
      font-size: rem-calc(52);
      font-weight: $font-weight-regular;
    }

  }
}



.homepage-blurb {
  @include grid-column($columns: 12);
  margin-top: rem-calc(32);

  @media #{$medium-up} {
    @include grid-column($columns: 7);
  }
}

.homepage-videos {
  @include grid-column($columns: 12);
  margin-top: rem-calc(32);

  @media #{$medium-up} {
    @include grid-column($columns: 4, $offset: 1);
  }

  .video-preview:not(:last-child) .video-preview__thubnail {
    margin-bottom: rem-calc(48);
  }
}

.homepage-callouts {
  padding-top: rem-calc(72);
  @include grid-row();

  .icon {
    width: 100%;
    height: 150px;
  }

  > h3 {
    @include grid-column($columns: 12);

    &:not(:last-child) {
      margin-bottom: rem-calc(32);
    }
  }


  > article {
    @include grid-column($columns: 12);

    @media #{$small-only} {
      &:not(:last-child) {
        margin-bottom: rem-calc(32);
      }
    }

    @media #{$medium-up} {
      @include grid-column($columns: 4);
    }
  }

  &__panel {
    @include callout-panel();
  }
}