.projects-page {

  .sidebar-box {
    @include sidebar-box($columns: 5, $side: right);
  }

  .proj-list {
    @include grid-column($columns: 6);
    padding: rem-calc(72 0);
  }

  .choose-project {
    @include grid-column($columns: 4, $offset: 2);
    padding: rem-calc(72-9 0);

    .accordion {
      margin-top: rem-calc(48);
    }

    

  }

  .past-projects-container {
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
  }

  .project-logo {
    height:150px;
  }

  .proj-list-smaller {
    padding: rem-calc(32 0);
  }

  .proj-header {
    width:100%;
  }
  
  .current-project-row {
    @include grid-row();
    margin-bottom: rem-calc(48);
  }
  
  .past-project {
    width:50%;
    margin:0;
    margin-bottom: 20px;
  }
  
  .current-project-row img {
    float:left;
    margin-right: 15px;
  }
}