<%= render 'includes/header.html' %>
<div id="ConnectPage" class="container">
  
 <section class="header">
  <div class="header-alignment">
    <h1>Support Us!</h1>
    <h4>We can't save the world on our own...your advice and donations are invaluable!  (Even if they have a pricetag).</h4>
  </div>
  </section>


  <section class="split">
    <section class="contact">
      <h3>Give us advice!</h3>
      <h6>Use the form below, or just <a href="mailto:cu.sustainabledesign@gmail.com" target="_blank">send us an email</a>.</h6>
      <form action="/contact.php" method="post">
        <label for="">Name</label>
        <input type="text" name="name" placeholder="Your Name">
        <label for="">Email</label>
        <input type="text" name="email" placeholder="you@example.com">
        <label for="">Message</label>
        <textarea name="message" placeholder="I&#8217;d love to help out&hellip;"></textarea>
        <input type="submit" value="Send Message" class="button small right">
      </form>
    </section>

    <section class="donate">
      <h3>Give to our projects!</h3>
      <h6><a href="https://www.giving.cornell.edu/give/?gifttype=6&gifttype2=131&comments=CUSD%20All%20Donations%20To%20E55-8744%20&amt=" target="_blank">Support our work!</a> We appreciate any and all contributions.</h6>
      <img src="/assets/images/contribute/students_o.jpg" alt="">
    </section>
  </section>

</div>

<div id="openingsModal" class="reveal-modal medium" data-reveal></div>

<%= render 'includes/footer.html' %>