<%= render 'includes/header.html' %>
<div id="homePage">
    
  <div class="hero ie-gradient" data-slide>
    <div class="cover">
      <img class="logo" src="assets/images/logo_main.png">
    </div>
  </div>

  <div class="intro-text">
    <div class="what-is">
      <h1>What is CUSD?</h1>
      <p>This text is here to judge spacing, but it needs to be rewritten. Lorem ipsum CUSD strives to break the preconceptions of sustainability. Choosing to evolve from our predecessor, CU Solar Decathlon, our founder, Jeremy Blum, understood that “Renewable energy is not the only way to achieve a more sustainable future. It’s really only a small part of it.” We harness the diverse, interdisciplinary, and creative nature of our team to create immediate impact.</p>
      <p>Our existence is predicated on the notion that student organizations are just organizations that happen to be comprised of students. We are capable people designing, building and discovering viable solutions, now. CUSD creates opportunities for students at Cornell to create holistic output through integrated design and experiential learning. CUSD is a lifestyle.</p>
    </div>
    <div class="recent-updates">
      <h1>Recent Updates</h1>
      <article class="ssa">
        <a href="#"><h4>Project Specific Headline</h4></a>
        <a href="#"><h6>March 12, 2014</h6></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus, excepturi, vitae nulla delectus ex minima reiciendis nobis laboriosam quam ab nam incidunt. Repudiandae, repellat, aut voluptate ab aliquam fuga possimus&hellip;</p><span class="read-more"><a href="#">Read More</a></span>
      </article>
      <article>
        <a href="#"><h4>General CUSD News Headline</h4></a>
        <a href="#"><h6>February 17, 2014</h6></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, quae vero alias ipsa iste dicta delectus consectetur veritatis repellat quia autem hic saepe ea ipsam veniam unde sed minima qui&hellip;</p><span class="read-more"><a href="#">Read More</a></span>
      </article>
    </div>
  </div>
  
</div>
<%= render 'includes/footer.html' %>