<%= render 'includes/header.html' %>

<div id="membersPage" class="container">

  <section class="members">
    <div class="header-alignment">
      <h1>Members</h1>
    </div>
</section>

<section class="calendar">

	<div class="header-alignment">
		
		<h3>Calendar</h3>
	</div>

	<center><iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=cu.sustainabledesign%40gmail.com&amp;color=#3C9B10&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe></center>

</section>

<section class="resources">

	<div class="header-alignment">
		
		<h1>Resources</h1>
	</div>

	<article>
		<section>
        <h3>Progress Tracking Forms</h3>
    </section>
    </article>

    <article>
    	<section>
        <h3>Past Deliverables</h3>
    </section>
    </article>

    <article>
    	<section>
        <h3>Career Opportunities</h3>
    </section>
    </article>


</section>



<%= render 'includes/footer.html' %>