<%= render 'includes/header.html' %>

<div id="peoplePage" class="container">

  <section class="members">
    <div class="header-alignment">
      <h1>Current Members</h1>
      <div id="faces"></div>
    </div>
  </section>

  <section class="stories">
    <div class="header-alignment">
      <h1>Featured Stories</h1>
    </div>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Bob Loblaw</h3>
        <h6>Subtitle describing the person</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At, deserunt, necessitatibus, nemo eaque illo fugiat rem beatae quisquam error harum dolor impedit aliquid expedita sequi delectus nobis doloremque numquam. Perspiciatis.</p>
      </section> 
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Bob Loblaw</h3>
        <h6>Subtitle describing the person</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium, doloribus, perferendis, ab, voluptas nostrum delectus necessitatibus voluptatibus laboriosam itaque illo ad eveniet quidem dicta cum nisi quibusdam expedita saepe nesciunt!</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Bob Loblaw</h3>
        <h6>Subtitle describing the person</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, praesentium perspiciatis est numquam soluta nam! Placeat, saepe asperiores voluptate molestias laboriosam facere distinctio repudiandae repellendus eos culpa quisquam ipsam totam!</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Bob Loblaw</h3>
        <h6>Subtitle describing the person</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis, cumque, modi, voluptates, et voluptatum molestias animi odit explicabo nulla officiis voluptatem maiores sed doloremque voluptas corporis! Vitae, vero qui quia?</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Bob Loblaw</h3>
        <h6>Subtitle describing the person</h6>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, reiciendis, quos inventore eveniet et ad placeat laborum hic natus dolorum ipsam illo quidem id quisquam necessitatibus rem aperiam minima debitis.</p>
      </section>
    </article>
    
  </section>

  <section class="join">
    <div class="header-alignment">
      <h1>Interested in Joining?</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, a veritatis natus beatae asperiores fugiat ex. In, sed, ad, itaque, odio excepturi eos molestiae magnam voluptate adipisci molestias odit nemo.</p>
      
      <a href="/contribute.html#openings" class="button">View Openings</a>
    </div>
  </section>

</div>

<%= render 'includes/footer.html' %>