<%= render 'includes/header.html' %>

<div id="peoplePage" class="container">

  <section class="stories">
    <div class="header-alignment">
      <h1>Executive Board</h1>
    </div>

    <article>
      <aside>
        <img src="assets/images/people/Mallory.jpg" alt="">
      </aside>
      <section>
        <h3>Mallory Barker</h3>
        <h6>Project Director, Infrastructure</h6>
        <p>Mallory is a senior majoring in Urban & Regional Studies in the College of Architecture, Art, and Planning. She is interested in growing healthier and happier cities through Active Design, Tactical Urbanism, and programming for human health. 
        On campus, Mallory is involved in CUSD, the Organization for Urban & Regional Studies Students, and Campus Information and Visitor Relations. During her times off campus, she works at a Real Estate firm in northern Virginia, where she has focused on everything from marketing to property management to event logistics. 
        She's currently in her third and final year at CUSD and is leading the Infrastructure team. 
</p>
      </section> 
    </article>

    <article>
      <aside>
        <img src="assets/images/people/Eden.jpg" alt="">
      </aside>
      <section>
        <h3>Eden Brachot</h3>
        <h6>Project Director, Beebe Lake Redevelopment</h6>
        <p>Eden is a senior in Design and Environmental Analysis pursuing a concentration in Interior Design. As a designer, she is intrigued by the thought that she can impact the way people feel upon entering a space. As a critical thinker, she believes this impact is achieved by weighing the grand concept of a project as heavily as every minor detail. 
        Eden originally joined the NYC Tech Campus project on CUSD to help design a distance-learning classroom. She then joined the Beebe Lake Redevelopment project. After a total of four semesters on CUSD, she currently directs the Beebe Lake Redevelopment project. 
        Eden's dream job is to oversee the interior design of cruise ships and believes that long meetings should always be accompanied by good food.
</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Zac Cesaro</h3>
        <h6>Deputy Project Director, CornellTech and Re-Innovations</h6>
        <p>Zac Cesaro is a junior at Cornell University majoring in Chemical Engineering. Zac is the Deputy Project Director for NYCTech and Re-Innovations projects of the Cornell University Sustainable Design project team as well as the Team Lead for the Solar Energy project team.  
        Zac participated in undergraduate research at Cornell under Dr. Paul Steen, studying planar flow casting and X-ray Diffraction of amorphous (glassy) metals. Over summer 2014, Zac worked in Morgantown, WV for the U.S. Department of Energy's fossil fuel research lab studying nanoparticle catalysts for hydrocarbon reforming. Zac was also a member of the Varsity Men’s Swimming and Diving team at Cornell from 2012-2014.  
        Zac’s career aspirations include working in the energy industry on projects that emphasize sustainability and renewability.  He views widespread access to sustainable energy as one of the worlds largest problems that has tremendous room for innovation and improvement. Zac's primary focus is to help society with both immediate needs and long term sustainability.
</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="assets/images/people/Kendra.jpg" alt="">
      </aside>
      <section>
        <h3>Kendra Hayes</h3>
        <h6>Creative Director, Infrastructure</h6>
        <p>Kendra Hayes is currently a senior majoring in Design and Environmental Analysis: Interior Design. She joined the CUSD community the fall of her junior year because she was struck by the organization's ambitious and nature and its commitment to experiential learning. This year, she is the Creative Director of the Marketing Communications team. Outside of CUSD, she is the Student Manager of Cook House Dining, an Alpha Phi Omega service fraternity family head, and the co-founding graphic designer of an upcoming phone application. She has also been hired by the College of Human Ecology to design and see through to construction 'Active Learning' classrooms for spring of 2015 use.
</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="assets/images/people/Max.jpg" alt="">
      </aside>
      <section>
        <h3>Max Knutins</h3>
        <h6>Project Director, Farm Pond Circle</h6>
        <p>Hi, my name is Max, and I believe in making cities more beautiful, efficient, and sustainable. I am a sophomore majoring in Urban Planning, and I seek to combine technology with physical planning to incorporate green urban systems on the micro and macro scale. I am currently working with Jack Jensen and Brent Katzmann in order to finalize and bring a green roof and solar panel equipped straw bale duplex to life in Farm Pond Circle, just 15 minutes north of Ithaca.
</p>
      </section>
    </article>
    
    <article>
      <aside>
        <img src="assets/images/people/Courtney.jpg" alt="">
      </aside>
      <section>
        <h3>Courtney Koelbel<h3>
        <h6>Project Director, CornellTech and Re-Innovations</h6>
        <p>Hi, my name is Max, and I believe in making citiesCourtney is a senior in Environmental Engineering pursuing minors is Sustainable Energy Systems and Music.  Everything she does is fueled by her passions, the most important being sustainability and social justice.  She is the CornellTech and Re-Innovations project director in her fourth year on CUSD.  Previously, Courtney participated in a hydropower feasibility study, project search committee, and outreach.  At first glance, her Google Calendar is more colorful than her hair, which is saying a lot.
</p>
      </section>
    </article>
    
    <article>
      <aside>
        <img src="assets/images/people/Mary.jpg" alt="">
      </aside>
      <section>
        <h3>Mary Millard</h3>
        <h6>Project Director, Farm Pond Circle</h6>
        <p>As a senior in Environmental Engineering, I am looking for ways to transition my studies into a career that addresses our planet's sustainability crisis. I hope to contribute to the development of water treatment technologies, energy efficiency, or sustainable agriculture. My other passions include advocating for women in engineering, promoting mental health among students, painting, and singing.
</p>
      </section>
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Joe Nelson</h3>
        <h6>Project Director, Centre d'éducation inclusif</h6>
        <p>As a senior in Environmental Engineering, I am looking for ways to transition my studies into a career that addresses our planet's sustainability crisis. I hope to contribute to the development of water treatment technologies, energy efficiency, or sustainable agriculture. My other passions include advocating for women in engineering, promoting mental health among students, painting, and singing.
</p>

<article>
      <aside>
        <img src="assets/images/people/Levi.jpg" alt="">
      </aside>
      <section>
        <h3>Levi Schoenfeld</h3>
        <h6>Brand Director, Infrastructure</h6>
        <p>I'm a senior studying Urban and Regional Studies. As Marketing and Communications Director at CUSD I create and curate the materials our organization uses to promote ourselves. As a native Angeleno I enjoy long walks on the beach, a good glass of sangria and driving my hybrid sustainably around the city.
</p>
      </section>
    </article>
    
  </section>

  <section class="join">
    <div class="header-alignment">
      <h1>Interested in Joining?</h1>
      <p>CUSD provides hands on learning opportunities, and is a great way to explore your technical and leadership potential, all while making a real difference.</p>
      
      <a href="/contribute.html#openings" class="button">View Openings</a>
    </div>
  </section>

</div>

<%= render 'includes/footer.html' %>
