<%= render 'includes/header.html' %>

<div id="projectsPage" class="container">

	<section class="stories">
    <div class="header-alignment">
      <h1>Projects</h1>
    </div>

    <section class="global-impact">
    <header>
      <h1>Global Impact</h1>
      <h4>Our work affects communities across the world, as well as in our backyard.</h4>
    </header>
  </section>

  <div class="map">
    <img src="/assets/images/home/map.svg" alt="Map of our projects">
    <div class="map-panel">
    </div>
  </div>

  </p>

<section class="stories">
    <div class="header-alignment">
      <h1>Current Projects</h1>
    </div>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Beebe Lake</h3>
        <p>Blurb
</p>
      </section> 
    </article>

       <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>CornellTech Initiatives</h3>
        <p>Blurb
</p>
      </section> 
    </article>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>Re-Innovations</h3>
        <p>Blurb
</p>
      </section> 
    </article>

</div>

<%= render 'includes/footer.html' %>