<%= render 'includes/header.html' %>

<div id="projectsPage" class="container">

  <section class="map">
  <div class="header-alignment">
  <h1>Projects</h1>

  <div class="map">
      <img src="/assets/images/home/map.svg" alt="Map of our projects">
      <div class="map-panel">
        <div class="le">
          <h3>Building A Global Community</h3>
          <p>A journey of a thousand miles begins with a single step. By building better communities globally, we're taking steps towards building a better global community.</p>
        </div>
        <a href="impact.html" class="small button">See Impact&nbsp;&rarr;</a>
      </div>
    </div>
    
</div>
  
</section>


  <section class="projects">
    <div class="header-alignment">
      <h1>Projects</h1>
    </div>

    <article>
      <aside>
        <img src="http://placehold.it/400x400/dddddd/333333&text=Portrait" alt="">
      </aside>
      <section>
        <h3>CornellTech Initiatives</h3>
        <p>Blurb</p>
      </section> 
    </article>

  </section>

</div>

<%= render 'includes/footer.html' %>
