#purposePage {

  @media #{$medium-up} {
    padding-bottom: rem-calc(50px);
  }

  .header {

    margin: rem-calc(20px) 0 rem-calc(30px);

    @media #{$medium-up} {
      margin: rem-calc(50px) 0 rem-calc(50px);
    }  

    h1 {
      text-align: center;
    }
  }

  .belief {

    @include grid-row();
    margin-bottom: rem-calc(40px);

    aside {
      @include grid-column($columns:12);
      margin-bottom: rem-calc(10px);
    }

    article {
      @include grid-column($columns:12);
    }

    @media #{$medium-up} {
      margin-bottom: rem-calc(65px);
      max-width: rem-calc(800px);

      aside {
        @include grid-column($columns:4);
      }

      article {
        @include grid-column($columns:8);

      }

      &:nth-of-type(2n) {
        aside {
          @include grid-column($columns:4, $push:8);
        }

        article {
          @include grid-column($columns:8, $pull:4);
        }
      }
    }
  }
}