---
title: Connect
---
<div class="connect">
  <div class="photo-strip photo-strip--page-header" style="background-image: url(/images/background.png)">
    <div class="photo-strip__text">
      <h1>Connect</h1>
    </div>
  </div>

  <div class="sidebar-box">
    <div class="sidebar-box__wrapper">

      <div class="sidebar-label">
        <h2>Points of Contact</h2>   
      </div>

      <div class="contacts">
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Yodai Yasunaga</h3>
            <span class="contact__info__title">Executive Director</span>
            <span class="contact__info__team">Marketing and Communications</span>
            <span class="contact__info__links"><a href="#" class="email">Email</a><a href="#" class="twitter">Twitter</a></span>
          </div>
        </article>
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Zac Cesaro</h3>
            <span class="contact__info__title">Executive Project Director</span>
            <span class="contact__info__team">Overlook Ridge Development</span>
            <span class="contact__info__links"></span>
          </div>
        </article>
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Joshua Glasser</h3>
            <span class="contact__info__title">Executive Project Director</span>
            <span class="contact__info__team">Cornell Tech</span>
            <span class="contact__info__links"></span>
          </div>
        </article>
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Ariel Hsu</h3>
            <span class="contact__info__title">Executive Director</span>
            <span class="contact__info__team">Internal Operations</span>
            <span class="contact__info__links"></span>
          </div>
        </article>
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Eric Morris</h3>
            <span class="contact__info__title">Creative Director</span>
            <span class="contact__info__team"></span>
            <span class="contact__info__links"></span>
          </div>
        </article>
        <article class="contact">
          <img class="contact__photo" src="http://placehold.it/200/200">
          <div class="contact__info">
            <h3 class="contact__info__name">Annie Myers</h3>
            <span class="contact__info__title">Executive Project Director</span>
            <span class="contact__info__team">CUSD Futures</span>
            <span class="contact__info__links"></span>
          </div>
        </article>
      </div>

    </div>
  </div>

  <div class="photo-strip" style="background-image: url(/images/background.png)">
  </div>

  <!-- PARTNER / DONATE / JOIN -->
  <div class="page-contents">
    <div class="partner-donate-join-container">

      <div class="partner-donate-join-element">
        <h2>Partner</h2>
        <br>
        <h5>Partner with us to help make a project reality</h5>
        <br>
        <a href="#" class="button project-button">Learn More</a>
      </div>

      <div class="partner-donate-join-element">
        <h2>Donate</h2>
        <br>
        <h5>Support our work and directly enable project impact</h5>
        <br>
        <a href="#" class="button project-button">Donate</a>
      </div>

      <div class="partner-donate-join-element">
        <h2>Join</h2>
        <br>
        <h5>Interested in making an impact?</h5>
        <br>
        <a href="#" class="button project-button">Learn More</a>
      </div>

   </div>
  </div>
</div>
