---
title: CUSD
---
<div class="index">
	<div class="photo-strip photo-strip--showcase" style="background-image: url(/images/background.png)">
		<div class="photo-strip__text">
			<h1>Cornell University Sustainable Design</h1>
			<h2>Positively Impacting Communities Through Sustainability</h2>
		</div>
	</div>

	<div class="sidebar-box">
		<div class="sidebar-box__wrapper">
			<div class="team-text"><h2>We Are a Team of Designers</h2>
				<p>Founded in 2009, Cornell University Sustainable Design (CUSD) is a student run, interdisciplinary project team with a bias towards impact. We bring together students from across all seven colleges to work alongside renowned faculty and knowledgeable professionals in our mission to create a network of proactively sustainable communities.</p>
				<a href="url">Learn more about the team</a>
			</div>
		</div>
	</div>

	<div class="page-contents">
		<h2 class="timeline-label">We Build Things That Make an Impact</h2>
	</div>	

		<div class="photo-strip" style="background-image: url(/images/background.png)">
		</div>
</div>