---
title: CUSD
---

<div class="photo-strip photo-strip--showcase" style="background-image: url(/images/background.png)">
  <div class="photo-strip__text">
<h1>Cornell University Sustainable Design</h1>
<h2>Positively Impacting Communities Through Sustainability</h2>
  </div>
</div>

<div class="sidebar-box">
  <div class="sidebar-box__wrapper">
      <div class="team-text">left text</div>
      <div class="team-graphics">right text</div>
    </div>
</div>

 <div class="photo-strip" style="background-image: url(/images/background.png)">
 </div>