---
title: CUSD Projects
---

<div class="welcome">
  <h1>Projects</h1>
  <p class="doc">
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
  <h1>Current Projects</h1>
      <% link_to '/projects/seg' do %>
        <h3>Sustainable Education Ghana</h3>
      <% end %>
      <p>
        This team partners with Voices of African Mothers to develop a sustainable school for girls in an ecological hub outside of Sogakope, Ghana.
      </p>
</div><!-- .welcome -->