---
title: Projects
---

  <h1>Projects</h1>

  <h2>Current Projects</h2>
  <ul>
    <% data.projects.each do |project| %>
      <li><%= link_to project[1].name, "/projects/#{project[0]}" %></li>
    <% end %>
  </ul>
